@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'dubai';
  src: url('../css/dubai.woff2') format('woff2'),
  url('../css/dubai.woff') format('woff');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'tifinagh-title';
  src: url('../fonts/tifinagh-title.woff2') format('woff2'),
  url('../fonts/tifinagh-title.woff') format('woff');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'tifinagh-text';
  src: url('../fonts/tifinagh-text.woff2') format('woff2'),
  url('../fonts/tifinagh-text.woff') format('woff');
}

.tifinagh-title {
  font-weight: normal;
  font-family: 'tifinagh-title', Arial, Helvetica, sans-serif;
}

.tifinagh-text {
  font-family: 'tifinagh-text', Arial, Helvetica, sans-serif;
}

.arabic-text {
  text-align: center;
  font-family: 'dubai', Arial, Helvetica, sans-serif;
  direction: rtl;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.centered-top-container {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  color: #333;
}

.centered-top {
  width: 90%;
}

.header-widget {
  text-align: center;
}

em {
  font-style: italic;
  font-family: Lora, serif;
}

.hamburger-menu-container {
  display: none;
}

/* general Elements  */
.button {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px 18px;
  border-radius: 5px;
  background-color: #3aafa9;
  color: #fff;
  text-decoration: none;
  font-size: .95rem;
  transition: background-color .3s;
  gap: 6px;
}

.button:hover {
  background-color: #2b7a78;
}

ul {
  list-style: none;
}

a {
  position: relative;
  color: #3aafa9;
  text-decoration: none;
}

a:hover {
  color: #2b7a78;
}

input, textarea {
  position: relative;
  padding: 10px;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 5px rgba(58, 175, 169, .3);
  color: #333;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  transition-duration: .3s ease;
}

input:focus, textarea:focus {
  border: 1px solid #3aafa9;
  box-shadow: 0 0 8px #3aafa9;
}

.search input {
  border: none;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  color: #333;
}

/* horizontal navbar */
.custom-navbar {
  padding: 10px 0;
  font: normal 400 14px Montserrat, sans-serif;
}

.custom-navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.custom-navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-navbar li::before {
  color: #f4a900;
  content: 'ⵣ';
  font-size: 1rem;
}

.custom-navbar li:first-child::before {
  display: none;
}

.custom-navbar a {
  padding: 10px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

.custom-navbar a:hover {
  color: #3aafa9;
}

.custom-navbar a::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3aafa9;
  content: '';
  transition: transform .3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.custom-navbar a:hover::after {
  transform: scaleX(1);
}

.custom-navbar a.active {
  color: #3aafa9;
}

.custom-navbar a.active::after {
  color: #3aafa9;
  transform: scaleX(1);
}

/* side navbar */
.side-navbar-title {
  color: #f4a900;
  text-align: left;
  text-transform: uppercase;
}

.side-navbar {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  background-color: #2b7a78;
}

.side-navbar li {
  margin: 0 !important;
  padding: 0;
  border-bottom: 1px solid #3aafa9;
  transition-duration: .3s;
}

.side-navbar li:last-child {
  border-bottom: none;
}

.side-navbar li:hover {
  border-bottom: 1px solid #f4a900;
}

.side-navbar a {
  display: block;
  padding: 15px 0;
  color: #fff;
  transition-duration: .3s;
}

.side-navbar i {
  margin-right: 8px;
  color: #f4a900;
}

/* Style des Pages */
.my-home-page {
  display: none;
}

.homepage-view .my-home-page{
  display: block;
  color: #333;
}

.homepage-view #Blog1 {
  display: none;
}

h3 {
  color: #f4a900;
  font-family: 'lato', sans-serif;
}

.my-home-page h3 {
  margin-top: 30px;
  font-size: 14px;
  color: #f4a900;
  font-family: 'arial', sans-serif;
  text-transform: uppercase;

}

.intro-container h2 {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #3aafa9;
  font-size: 1.6rem;
  gap: 10px;
}

.intro-container p {
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.6;
  font-family: 'Hanuman', sans-serif;
}

.feedback {
  font-size: 1rem;
  font-family: 'Hanuman', sans-serif;
  color: #666;
}

main ul {
  padding-left: 0;
}

main ul li {
  color: #333;
  font-size: 1rem;
  line-height: 1.6;
}

.count {
  display: inline-block;
  padding: 4px 8px;
  min-width: 24px;
  border-radius: 12px;
  background: #e0f0ef;
  color: #3aafa9;
  text-align: center;
  font-weight: normal;
  font-size: .85em;
  transition: background-color .3s ease;
  user-select: none;
}

h3 .count, h3 i{
  background: none;
  color: #3aafa9;
}


.card-link:hover .count {
  background-color: #3aafa9;
  color: #fff;
}

.poet-name {
  margin: 30px 0 10px 0;
  color: #3aafa9;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 1rem;
}

.poet-count {
  color: #777;
  font-size: .85em;
}


.card-grid {
  display: grid;
  margin: auto;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.card-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgb(0 0 0 / .05);
  color: #333;
  text-transform: capitalize;
  transition: background .3s, transform .2s;
  gap: 20px;
}

.card-link:hover {
  background: #e6f2f1;
  box-shadow: 0 4px 12px rgb(0 0 0 / .1);
  transform: translateY(-5px);
}

.card-link i {
  color: #666;
  font-size: 1.8rem;
}

.card-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #3aafa9;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  gap: 10px;
}

.article-card {
  align-items: flex-start;
  flex-direction: column !important;
}

.article-card-title {
  color: #3aafa9;
}

.card-meta {
  width: 100%;
  color: #666;
  font-size: .8rem;
  text-align: left;
  border-top: 1px solid #e0e0e0;
}

.card-meta span {
  display: block;
}

.card-meta span i {
  color: #3aafa9;
  font-size: .8rem;
}

.article-poet-name {
  margin: 5px 0px;
  color: #666;
  font-size: .8rem;
}

.labels .card-title {
  flex-direction: row;
  justify-content: center;
}

/* Personnaliser mon footer */

#Attribution1 {
  display: none !important;
}

.custom-footer {
  padding: 20px 0;
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #555;
  font-size: .9rem;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1100px;
  gap: 20px;
}

.footer-brand {
  flex: 1 1 auto;
  text-align: left;
}

.footer-brand span {
  color: #3aafa9;
}

.footer-links, .footer-social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footer-links a, .footer-social a {
  color: #666;
  transition: color .3s ease;
}

.footer-social a {
  color: #3aafa9;
}

.footer-links a:hover {
  color: #3aafa9;
}

.footer-social i {
  font-size: 1.2rem;
}

a.facebook {
  color: #1877f2;
}

a.instagram {
  color: #e4405f;
}

a.youtube {
  color: #f00;
}

a.facebook:hover, a.instagram:hover, a.youtube:hover {
  color: #3aafa9;
}

/* Page de recherche */
#custom-search {
  position: relative;
  display: flex;
  margin: 10px auto;
  max-width: 400px;
}

#search-input {
  flex-grow: 1;
  padding: 10px 40px 10px 10px;
  width: 100%;
}

#custom-search button {
  position: absolute;
  top: 50%;
  right: 5px;
  display: none;
  padding: 6px 10px;
  border: none;
  background-color: transparent;
  color: #3aafa9;
  font-size: 14px;
  cursor: pointer;
  transform: translateY(-50%);
}

#search-results div {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  transition: background .3s, transform .2s;
}

#search-results div:hover {
  background: #e6f2f1;
  transform: translateY(-5px);
}

#search-results h4 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  color: #3aafa9;
}

#search-results p {
  margin: 0;
  padding: 0;
  color: #333;
}

/* Contact */
.contact-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  max-width: 800px;
  border: 1px solid #ddd;
  border-radius: 8px;
  gap: 1rem;
}

.contact-form button {
  padding: 10px 20px;
  width: 40%;
  border: none;
  border-radius: 4px;
  background-color: #1ebe5d;
  color: white;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: background .3s;
}

.contact-form button:hover {
  background-color: #1aa853;
}



@media (max-width: 768px) {
  .header-widget {
    text-align: left;
  }

  .hamburger-menu-container {
    display: block;
  }

  .custom-navbar {
    display: none;
  }

  .arabic-text {
    text-align: right;
  }

  .post-body img {
    display: block;
    margin: 1em auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .intro-container h2 {
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
  }

  .intro-container p {
    text-align: justify;
    font-size: .95rem;
  }

  .poet-name, .category {
    text-align: left;
  }

  .card-grid {
    margin: auto;
    gap: 10px;
  }

  .card-link {
    align-items: flex-start;
    flex-direction: row;
    padding: 15px;
    gap: 5px;
  }
  .card-title {
    font-size: 1rem;
    flex-direction: row;
  }

  .card-link i {
    color: #666;
    font-size: 1rem;
  }

  .card-title {
    text-align: left;
  }

  .labels .card-title {
    justify-content: space-between;
  }

  .footer-brand {
    text-align: center;
  }

  .footer-wrapper, .footer-links {
    flex-direction: column;
    gap: 10px;
  }

  .footer-links {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .contact-form button {
    width: 100%;
  }
}
